<ActionBar title="uSpy" class="actionBar" color="white"></ActionBar>
<StackLayout class="page">
    <StackLayout>
        <StackLayout>
            <RadDataForm [source]="list" class="form"></RadDataForm>
        </StackLayout>
        <StackLayout>
            <Button text="Save and Play!" class="btn btn-primary" (tap)="onSubmit()" class="saveButton" color="white"></Button>
        </StackLayout>
    </StackLayout>
    <StackLayout loaded="StackLayoutLoaded" class="page" xmlns="http://www.nativescript.org/tns.xsd">
        <DockLayout height="100%">
        <StackLayout dock="bottom" height="50" class="bottom-navigation" orientation="horizontal">
            <Button text="Profile" (tap)="profileNav()"></Button>
            <Button text="Create Game" ></Button>
            <Button text="Logout" (tap)="logoutNav()"></Button>
        </StackLayout>
        <Label dock="top"></Label>
        </DockLayout>
    </StackLayout>



</StackLayout>
<!-- <navigation:ExamplePage xmlns:navigation="navigation/example-page" loaded="onPageLoaded"
    xmlns:df="nativescript-ui-dataform" xmlns="http://www.nativescript.org/tns.xsd">

    <df:RadDataForm id="myDataForm" source="{{ list }}" />

</navigation:ExamplePage> -->

