/* Add mobile styles for the component here.  */
/* .main {
    display: flex;
} */

/* .item {
    display: flex;
    align-items: center;
    border: solid;
} */

StackLayout {
    border-color: red;
    border-width: 3;
    border-radius: 30;
}

RadListView {
    border-color: red;
    border-width: 3;
    border-radius: 30;
}

.label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28;
}

.circle {
    align-self: center;
    margin-left: 80px;
}
