/* Add mobile styles for the component here.  */
.main {
    display: flex;
}

.item {
    display: flex;
    align-items: center;
    border: solid;
}

.label {
    font-family: Open Sans;
    font-size: 28;
}

.circle {
    align-self: center;
    margin-left: 80px;
}