/* Add mobile styles for the component here.  */
/* .main {
    display: flex;
} */

/* .item {
    display: flex;
    align-items: center;
    border: solid;
} */

/* StackLayout {
    border-color: red;
    border-width: 3;
    border-radius: 30;
}

RadListView {
    border-color: red;
    border-width: 3;
    border-radius: 30;
} */

.players {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28;
}

.actionBar {
    background: #5BC0EB;
    position: center;
}

.button {
border-radius: 100;
background-color:#5BC0EB;
width:200px;
height:200px;
color: black;


}

.start {

    background-color:#5BC0EB;
    width:400px;
    height:150px;
    color: black;
    margin-top: 100px;
}

.image {
    border-radius: 10px;
    border-color: black;
    
}

.scoreboard {
    margin-top: 50px;
}