
<ActionBar title="uSpy"></ActionBar>
<StackLayout class="main">

    <GridLayout rows="*" columns="*" class="item">
        <StackLayout>
            <Label text="{{player1}}" fontSize="22"></Label>
            <!-- <Label [text]="item1" class="label" fontSize="30"></Label>  -->
            <AnimatedCircle horizontalAlignment="left" *ngIf="isCorrect1" rimColor="#00cc00" text="{{item1}}" textSize="5" textColor="#000000" width="50" height="50" progress="10" rimWidth="2" class="circle"></AnimatedCircle>
            <AnimatedCircle horizontalAlignment="left" *ngIf="isCorrect2" rimColor="#00cc00" text="{{item2}}" textSize="5" textColor="#000000" width="50" height="50" progress="10" rimWidth="2" class="circle"></AnimatedCircle>
            <AnimatedCircle horizontalAlignment="left" *ngIf="isCorrect3" rimColor="#00cc00" text="{{item3}}" textSize="5" textColor="#000000" width="50" height="50" progress="10" rimWidth="2" class="circle"></AnimatedCircle>
            <AnimatedCircle horizontalAlignment="left" *ngIf="isCorrect4" rimColor="#00cc00" text="{{item4}}" textSize="5" textColor="#000000" width="50" height="50" progress="10" rimWidth="2" class="circle"></AnimatedCircle>
            <!-- <Label [text]="item2" class="label" fontSize="50"></Label>  -->
            <Label text="{{player2}}" fontsize="22" horizontalAlignment="center"></Label>
            <AnimatedCircle horizontalAlignment="center" *ngIf="isCorrect5" rimColor="#00cc00" text="{{item1}}" textSize="5" textColor="#000000" width="50" height="50" progress="10" rimWidth="2" class="circle"></AnimatedCircle>
            <AnimatedCircle horizontalAlignment="center" *ngIf="isCorrect6" rimColor="#00cc00" text="{{item2}}" textSize="5" textColor="#000000" width="50" height="50" progress="10" rimWidth="2" class="circle"></AnimatedCircle>
            <AnimatedCircle horizontalAlignment="center" *ngIf="isCorrect7" rimColor="#00cc00" text="{{item3}}" textSize="5" textColor="#000000" width="50" height="50" progress="10" rimWidth="2" class="circle"></AnimatedCircle>
            <AnimatedCircle horizontalAlignment="center" *ngIf="isCorrect8" rimColor="#00cc00" text="{{item4}}" textSize="5" textColor="#000000" width="50" height="50" progress="10" rimWidth="2" class="circle"></AnimatedCircle>
            <!-- <Label [text]="item3" class="label" fontSize="50"></Label> -->
            <Label text="{{player3}}" fontSize="22" horizontalAlignment="right"></Label>
            <AnimatedCircle horizontalAlignment="right" *ngIf="isCorrect9" rimColor="#00cc00" text="{{item1}}" textSize="5" textColor="#000000" width="50" height="50" progress="10" rimWidth="2" class="circle"></AnimatedCircle>
            <AnimatedCircle horizontalAlignment="right" *ngIf="isCorrect11" rimColor="#00cc00" text="{{item3}}" textSize="5" textColor="#000000" width="50" height="50" progress="10" rimWidth="2" class="circle"></AnimatedCircle>
            <AnimatedCircle horizontalAlignment="right" *ngIf="isCorrect10" rimColor="#00cc00" text="{{item2}}" textSize="5" textColor="#000000" width="50" height="50" progress="10" rimWidth="2" class="circle"></AnimatedCircle>
            <AnimatedCircle horizontalAlignment="right" *ngIf="isCorrect12" rimColor="#00cc00" text="{{item4}}" textSize="5" textColor="#000000" width="50" height="50" progress="10" rimWidth="2" class="circle"></AnimatedCircle>
            <!-- <Label [text]="item4" class="label" fontSize="50"></Label>  -->
    </StackLayout>
        <StackLayout verticalAlignment="bottom">
            <Label text="{{item1}}, {{item2}}, {{item3}}, {{item4}}" horizontalAlignment="center"></Label>
            <Image verticalAlignment="bottom" [src]="lastPicture" width="150" height="150"></Image>
            <Button verticalAlignment="bottom" text="Open camera" class="btn btn-primary" (tap)=openCam()></Button>
            <Button verticalAlignment="bottom" text="Give Items" class="btn btn-primary" (tap)=getItems()></Button>
            <ActivityIndicator verticalAlignment="bottom" [busy]="isLoading"></ActivityIndicator>
        </StackLayout>  
    
</StackLayout>


<!-- <CardView class="cardStyle" margin="80" elevation="40" radius="1">
    <GridLayout rows="*" columns="*" class="item">
            <Label text="{{LoginService.userEmail}}" fontSize="22"></Label>
            
                <Label [text]="item1" class="label" fontSize="24" horizontalAlignment="left" row="1" col="1" margin="5"></Label>
                <AnimatedCircle horizontalAlignment="left" *ngIf="isCorrect1" rimColor="#00cc00" fillColor="#00cc00" width="15" height="15" progress="10" rimWidth="2" class="circle"></AnimatedCircle>
            
            
                <Label [text]="item2" class="label" fontSize="24" horizontalAlignment="left" row="2" col="1" margin="0 5 0 5"></Label> 
                <AnimatedCircle horizontalAlignment="left" *ngIf="isCorrect2" rimColor="#00cc00" fillColor="#00cc00" width="15" height="15" progress="10" rimWidth="2" class="circle"></AnimatedCircle>
            
            
                <Label [text]="item3" class="label" fontSize="24" horizontalAlignment="left" row="3" col="1" margin="5"></Label>
                <AnimatedCircle horizontalAlignment="left" *ngIf="isCorrect3" rimColor="#00cc00" fillColor="#00cc00" width="15" height="15" progress="10" rimWidth="2" class="circle"></AnimatedCircle>
            
            
                <Label [text]="item4" class="label" fontSize="24" horizontalAlignment="left" row="4" col="1" margin="0 5 0 5"></Label> 
                <AnimatedCircle horizontalAlignment="left" *ngIf="isCorrect4" rimColor="#00cc00" fillColor="#00cc00" width="15" height="15" progress="10" rimWidth="2" class="circle"></AnimatedCircle>
            
    </GridLayout>
</CardView> -->