<ActionBar title="uSpy" class="actionBar" color="white"></ActionBar>
<StackLayout>
    <StackLayout loaded="pageLoaded" class="page" xmlns="http://www.nativescript.org/tns.xsd">
        <StackLayout>
            <Label text="{{LoginService.userEmail}}" textAlignment="center" class="name"></Label>
            <StackLayout>
                <Image src="{{'~/image/' + profilePic}}" width="275" borderRadius="200" height="250" class="picture"></Image>
            </StackLayout>
            
            <StackLayout row="*" columns="*">
                    <Label text="Win Streak: 13 🔥" textAlignment="center" fontSize="24" fontAttributes="Bold" class="winStreak" column="1"></Label> 
            </StackLayout>
        </StackLayout>
        <DockLayout height="100%">
        <StackLayout dock="bottom" height="50" class="bottom-navigation" orientation="horizontal">
            <Button text="Lobby" (tap)="lobbyNav()"></Button>
            <Button text="Create Game" (tap)=createGame()></Button>
            <Button text="Friends" (tap)="friendNav()"></Button>
        </StackLayout>
        <Label dock="top"></Label>
        </DockLayout>
    </StackLayout>
</StackLayout>
