/* Add mobile styles for the component here.  */

  .border-bottom {
    border-bottom-width: 1;
    border-bottom-color: white;
    margin-bottom: 40;
    padding-bottom: 8;
  }
  .form-input {
    color: white;
    placeholder-color: white;
  }
  .icon-margin {
    margin-right: 10;
  }
  .my-button {
    background-color: #5BC0EB;
    color: white;
    font-weight: bold;
    border-radius: 25;
    padding-top: 14;
    padding-bottom: 14;
    text-transform: uppercase;
    letter-spacing: 0.1;
    margin-bottom: 20;
    margin-top: 10;
  }
  .auth-buttons {
    color: white;
    font-size: 14;
  }
  .full-height {
    height: 100%;
  }
  .logo-container {
    width: 250;
    margin-bottom: 20;
    margin-top: 70;
  }
  .container {
    margin-left: 34;
    margin-right: 34;
  }

.action-bar {
  background: #5BC0EB;
  position: center;
}
