<ActionBar title="uSpy" class="actionBar" color="white"></ActionBar>
<StackLayout>
    <StackLayoyt>
        <Label text="Lobby" class="lobbyTitle" horizontalAlignment="center" fontSize="32"></Label>
    </StackLayoyt>
    <StackLayout *ngFor="let game of games" class='list-games'>
        <Label horizontalAlignment="center" [text]="game + ' ' + joinGame" class="game"></Label>
        <Button text="join game" class="gameCount" (tap)="routeToGame(game)"></Button>
    </StackLayout>
</StackLayout>
    
