/* Add mobile styles for the component here.  */
.actionBar {
    background: #5BC0EB;
    position: center;
    align-items: center;
}

.gameCount {
    background: #9BC53D;
    padding: 5px;
    border-radius: 70px;
    margin: 60px;
}

.lobbyTitle {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-size: 36px;
    align-items: center;
    text-align: center;
    margin: 120px;
    display: flex;
    color: #9BC53D;
}

.game {
    font-family: Arial, Helvetica, sans-serif;
    color: #5BC0EB;
    font-size: 24px;
}