.winner {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.actionBar {
  background: #5BC0EB;
  position: center;
  align-items: center;
}