<ActionBar title="uSpy" class="actionBar" color="white"></ActionBar>
<StackLayout>
<StackLayout class="winner" backgroundImage="~/image/confetti.png">
    <Image src="~/image/winner.jpg" class="winnerPicture"></Image>
</StackLayout>
            <StackLayout marginTop="200">
                <DockLayout height="100%">
                    <StackLayout dock="bottom" height="50" class="bottom-navigation" orientation="horizontal">
                        <Button text="Profile" (tap)="profileNav()"></Button>
                        <Button text="Create Game" (tap)=createGame()></Button>
                        <Button text="Invite Friends" (tap)="friendNav()"></Button>
                    </StackLayout>
                    <Label dock="top"></Label>
                    </DockLayout>
            </StackLayout> 
